<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319478776626-k2fotmuibvbmrtguvrea1jaqmn387lun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319478776626-k2fotmuibvbmrtguvrea1jaqmn387lun</string>
	<key>API_KEY</key>
	<string>AIzaSyCZerecc9vsM7ZumIzweOMMdHVL4TatVMc</string>
	<key>GCM_SENDER_ID</key>
	<string>319478776626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.user.hiri</string>
	<key>PROJECT_ID</key>
	<string>hiri-app-48dcf</string>
	<key>STORAGE_BUCKET</key>
	<string>hiri-app-48dcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319478776626:ios:cf6fad20f546ff78c10d2b</string>
	<key>DATABASE_URL</key>
	<string>https://hiri-app-48dcf.firebaseio.com</string>
</dict>
</plist>